/* styles.css */

/* General styling */
body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Card style */
.card {
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    background-color: #ffffff;
    border: none;
}

h1 {
    color: #495057;
}

h2, h3 {
    color: #6c757d;
}

/* Button styles */
button.btn {
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 8px;
}

/* Results styling */
.results p {
    font-size: 1.1rem;
    color: #333;
}
